body {
  font-size: 16px;
  color: black;
  background-color: white ;
  font-family: Arial, Helvetica, sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: gray;
  border-radius: 0;
  border: 0;
  min-height: 90px;
  border: solid;
  border-block-color: black;
}

.container {
  /*padding-left: 30px;*/
  margin: auto;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 2.0em;
  text-transform: none;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: normal;
  float: left;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: auto;
 }

#nav-list a {
  color: #951C49;
  text-align: center;
  border: solid black;
  background-color: lightyellow;
}

#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -15px;
}
/* END HEADER */

/********** Desktop md devices only **********/
@media (min-width: 992px) {
  /* Header */

  /* End Header */

/* Home Page */
  
  .menu-item-description {
    text-align: center;
    background-color: lightgray;
  }
  /* End Home Page */
}

/********** Tablet sm devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

/* Home Page */

  .menu-item-description {
    text-align: center;
    background-color: lightgray;
  }
  /* End Home Page */
}


/********** Mobile xs devices only **********/
@media (max-width: 767px) {
/* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }

    #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }

  /* End Header */

  /* Home Page */

  .menu-item-description {
    text-align: center;
    background-color: lightgray;
  }
}   